<?xml version="1.0" ?>
 <arcane-config code-name="Acoustics">

  <!-- Define time loops for the simulation -->
  <time-loops>
    <time-loop name="AcousticsLoop">
      <title>Fem</title>
      <description>Default timeloop for code Acoustics</description>


      <!-- Modules required for the time loop -->
      <modules>
        <module name="Fem" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>


      <!-- Entry points for initialization phase -->
      <entry-points where="init">
        <entry-point name="Fem.StartInit" />
      </entry-points>


      <!-- Entry points for the computation loop -->
      <entry-points where="compute-loop">
        <entry-point name="Fem.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
