<?xml version="1.0" ?>
 <arcane-config code-name="FemTest1">
  <time-loops>
    <time-loop name="FemTest1Loop">
      <title>Fem1</title>
      <description>Default timeloop for code FemTest1</description>

      <modules>
        <module name="Fem1" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fem1.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="Fem1.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
