<?xml version="1.0" ?>
 <arcane-config code-name="Laplace">
  <time-loops>
    <time-loop name="LaplaceLoop">
      <title>Fem</title>
      <description>Default timeloop for code Laplace</description>

      <modules>
        <module name="Fem" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fem.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="Fem.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
