<?xml version="1.0" ?>
 <arcane-config code-name="Elasticity">
  <time-loops>
    <time-loop name="ElasticityLoop">
      <title>Fem</title>
      <description>Default timeloop for code Elasticity</description>

      <modules>
        <module name="Fem" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fem.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="Fem.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
